@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlay {
    @apply after:absolute   after:top-0 after:left-0 after:w-full after:h-full after:bg-black/20
  }
}
body {

  font-family: 'Domine', serif;

}

.subheading {

  font-family: 'Source Sans Pro', sans-serif;




}
input {
  font-family: sans-serif;
}
.heading {
  font-family: 'Lato', sans-serif;






}
.call{





}
.disclaimer {
  font-family: sans-serif;


}
.btn {
font-family: sans-serif;

}
.rgba {
  background-color: rgba(10, 10, 10, 0.5);
}
/* fonts  */
/*font-family: 'Anton', sans-serif;
font-family: 'Anybody', cursive;
font-family: 'Changa', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Domine', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Grape Nuts', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Ranga', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Bubbles', cursive;
font-family: 'Send Flowers', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tajawal', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Vazirmatn', sans-serif;*/

